/* Custom app styles */
::-webkit-scrollbar {
  width: 10px;
}

.message {
    position: relative;
    padding: .55rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

#loading-center {
    background: url(../images/pre-loader/loader-02.svg) no-repeat scroll center center;
}

.message.success {
    color: #296f51;
    background-color: #dcf7eb;
    border-color: #42b483;
}

.message.error {
    color: #802d3d;
    background-color: #fddde4;
    border-color: #cf4863;
}

.error-message{
    font-size: 0.8em;
    padding: .55rem 1rem;
    margin-bottom: 1rem;
    color: #802d3d;
    background-color: #fddde4;
    border-color: #cf4863;    
}

.clear{
    clear: both;
}

.mb-1{
    margin-bottom: 10px !important;
}
.mb-2{
    margin-bottom: 20px !important;
}

.mb-3{
    margin-bottom: 30px !important;
}

.mb-4{
    margin-bottom: 40px !important;
}

.mb-5{
    margin-bottom: 50px !important;
}

.mb-6{
    margin-bottom: 60px !important;
}
/* Header user info */
.info-usuario p{
    line-height: 15px;
    text-align: right;
    margin: 0px;
    font-size: 0.9em;
    padding-right: 5px;
}
.info-usuario p span{
    display: block;
    font-size: 0.8em;
}
#navbarSupportedContent .li-salir{
    display: none;
}
@media(max-width:991px) {
    #navbarSupportedContent .li-salir{
        display: block;
    }
    .navbar-nav.navbar-list {
     display: flex !important;
     flex-direction: inherit !important;
    }
}
/* ////////////// */
/* Skin color */
.wrapper-menu {
    color: #2f2f2f;
 
}
@media (max-width: 991px){
    .mm-top-navbar .navbar-toggler {
        color: #2f2f2f;
       
    }
}
a {
    color: #2f2f2f;
}
a:HOVER{
    color: rgba(0,0,0,1);
}
.sidebar-default .mm-sidebar-menu .side-menu>li.active {
    border: 1px solid #ccc;
}
.sidebar-default .mm-sidebar-menu .side-menu>li.active>a {
    color: #2f2f2f;
    text-decoration: none;
    background: rgba(160,160,160,0.1);
}
.mm-top-navbar .dropdown-menu .dropdown-item:HOVER {
   background: rgba(160,160,160,0.1);
   color: #2f2f2f;
}    

.mm-top-navbar .dropdown-menu .dropdown-item:before,.mm-top-navbar .dropdown-menu .dropdown-item:hover:before{
    color: #c00;
    background: #c00;
}
.navbar-list li>a:HOVER{
    color: #2f2f2f !important;
}
.dropdown-item:before {
    color: #2f2f2f;
    background: #2f2f2f;
}
.sidebar-default .mm-sidebar-menu li.active>a:before {
    color: #c00;
    background: #c00;

}
.btn-primary:HOVER,.bg-primary:HOVER,.btn-primary:ACTIVE,.btn-primary:FOCUS,.btn-primary:visited{
    background: rgba(0,0,0,1) !important;
    border-color: #2f2f2f !important;
}
.btn-primary {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}
.bg-primary {
    background-color: #2f2f2f !important;
}
.page-item.active .page-link {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}
.page-link {
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
}
.page-link:HOVER {
    color: #2f2f2f;
    border: 1px solid #2f2f2f;
}
hr {
    border-top: 1px solid rgba(160,160,160,0.1);
}
#video_background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1; 
}
#cover{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2; 
}